// $body-bg: #000;
// $body-color: #111;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';